<main>
    <form action="/gym/{{id}}" method="POST">
        <div class="form-group">
            <label for="commentContent">Review:</label>
            <textarea class="form-control" id="commentContent" name="content"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</main>