<main>
    <form action="/review/new/{{gym._id}}" id="newReview-form" method="POST">
        <p>New Review for gym {{gym.gymName}}</p>
        <div class="form-group">
            <label for="rating">Rating:</label>
            <input type="number" id="rating" name="rating" step="any" min="1" max="5" required>
        </div>
        <div class="form-group">
            <label for="content">Review:</label>
            <textarea class="form-control" id="content" name="content" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
    <button type="submit" onclick="location.href='/gym/{{gym._id}}';" class="btn btn-primary">Cancel</button>
</main>