<main>
    <form action="/user/signup" id="signup-form" method="POST">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="First Name" name="firstName" required>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Last Name" name="lastName" required>
        </div>
        <div class="form-group">
            <label for="userName">UserName</label>
            <input type="text" class="form-control" id="userName" placeholder="Username" name="userName" required>
        </div>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" id="email" placeholder="Email" name="email" required>
        </div>
        <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" placeholder="City" name="city" required>
        </div>
        <div class="form-group">
            <label for="state">State</label>
            <select class="form-control" id="state" name="state" required></select>
        </div>
        <div class="form-group">
            <label for="dateOfBirth">Date of Birth</label>
            <input id="dateOfBirth" class="form-control" type="date" name="dateOfBirth" required/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" aria-describedby="passValidations"
                   placeholder="Password" name="password" required>
            <small id="passValidations" class="form-text text-muted">Password must be a minimum of 8 characters long,
                have at least one at least one uppercase and lowercase character, have at least one number, and has to
                contain at least one special character.</small>
        </div>
        <div class="form-group">
            <label for="isGymOwner">Account Type</label>
            <select class="form-control" id="isGymOwner" name="isGymOwner">
                <option value="not selected">Select</option>
                <option value="">Gym User</option>
                <option value="True">Gym Owner</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <p>
        Already have an account? Click
        <a href="/user/login">here</a>
        to sign in.
    </p>
    <p>
        All fields are required.
    </p>
    <script src="/public/js/constantList.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            populateStateSelect('state');
        });
    </script>
</main>