<main>
    <form action="/user" method="POST">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" aria-describedby = "passValidations" placeholder="Password">
            <small id="passValidations" class="form-text text-muted">Password must have at least 6 characters and contain both a letter and a number.</small>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="isGymOwner">
            <label class="form-check-label" for="isGymOwner">Is this a gym owner account?</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</main>