<div class="row">

    <div class="col-10 col-sm-8 col-lg-6">
        {{!-- Change this to title of gym when available --}}
        <h2>Gym #1</h2>
    </div>

</div>

<div class="row">
    <div class="col-12 col-sm-4 col-lg-1">

        <span class="badge rounded-pill text-bg-secondary">Category</span>
        <span class="badge rounded-pill text-bg-secondary">Category</span>
        <span class="badge rounded-pill text-bg-secondary">Category</span>
        <span class="badge rounded-pill text-bg-secondary">Category</span>

    </div>

    {{!-- <div class="col-1 col-sm-4 col-lg-1">
    </div>

    <div class="col-1 col-sm-4 col-lg-1">
    </div>

    <div class="col-1 col-sm-4 col-lg-1">
    </div> --}}

</div>
