<main>
    <form action="/review/updateContent/{{reviewId}}" method="PUT">
        <div class="form-group">
            <label for="reviewContent">New Review:</label>
            <textarea class="form-control" id="reviewContent" name="content"
                placeholder='{{{review.content}}}'></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</main>